<div id="firma-page" class="fadeIn">
    <div class="contenedor">
        <div class="seccion">
            <h2>Firma Digital</h2>
            <div class="wrapper">
                <signature-pad></signature-pad>
            </div>
            <div class="botones">
                <button class="button danger" routerLink="/camara">Paso Anterior</button>
                <button class="button primary" routerLink="/firma" >Paso Siguiente</button>
            </div>
        </div>
    </div>
</div>
