<div id="progress-bar">
    <div class="seccion">
        <div class="contenedor">
            <div *ngIf="!this.router.isActive('inicio', false)" class="progress-bar-content">
                <div class="paso" [ngClass]="{'success': this.dataService.personalData}"><span>1</span></div>
                <div class="paso" [ngClass]="{'success': this.dataService.fileVideo}"><span>2</span></div>
                <div class="paso" [ngClass]="{'success': this.dataService.hayFirma}"><span>3</span></div>
            </div>
        </div>
    </div>
</div>